menu "user packages " 
config libgpiod-python  
	 bool "libgpiod-python"
	 help
	
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config odin-control  
	 bool "odin-control"
	 help
	
config odin-devices  
	 bool "odin-devices"
	 help
	
config odin-sequencer  
	 bool "odin-sequencer"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
config python3-pip  
	 bool "python3-pip"
	 help
	
config python3-psutil  
	 bool "python3-psutil"
	 help
	
config python3-pyzmq  
	 bool "python3-pyzmq"
	 help
	
config python3-requests  
	 bool "python3-requests"
	 help
	
config python3-smbus  
	 bool "python3-smbus"
	 help
	
config python3-spidev  
	 bool "python3-spidev"
	 help
	
config spidev-test  
	 bool "spidev-test"
	 help
	
config start-stop-daemon  
	 bool "start-stop-daemon"
	 help
	
endmenu
