[Unit]
SourcePath=/opt/loki-service-scripts/loki-bootstrap-emmc.sh
Before=graphical.target
After=inetd.busybox.service
After=dropbear.service
After=nfsserver.service
WantedBy=multi-user.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/opt/loki-service-scripts/loki-bootstrap-emmc.sh start
ExecStop=/opt/loki-service-scripts/loki-bootstrap-emmc.sh stop
